html, body {
    height: 100%;
}

.Topcontainer
{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}   

.Topcontainer left
 {
    display: flex;
    align-items: center;
}


.CorpLogo {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 70px;
}

.logocontainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_text {
    font-size: 30px;
    margin-left: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.Topnav {
    display: flex;
    gap: 20px;
}

.Topnav a{
    font-size: 18px;
    margin-left: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
}

.Topnav a:hover {
    color: #ffffff;
    border: #ffffff 1px solid;
}

.Contactcontainer {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    color: white;
    background-color: black;
    padding: 5% 0 5% 10%;
    gap: 16px;
    height: 70%;
}

.contactbackground {
    width: 100%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100%;
}

.ContactInfotop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.ContactInfobottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom: auto;
}

.logoaddon {
    width: 100px;
    height: 100%;
    margin-top: 20px;
    overflow: hidden;
    opacity: 0.4;
}

.logoaddon img {
    position: absolute;
    width: 40%;
    height: 40%;
    object-fit: cover;
    top: 300px;
    left: 50px;
}

.NewsContainer {
    
    flex-direction: column;
    align-items: left;
    
        margin-top: 70px;
    display: flex;
    justify-content: left;
    padding: 20px 20px;
    margin-bottom: 170px;
    background-color: #fff; 
    max-width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    height: 75%;
}

.NewsContain{

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    color: white;
}

.Newsbackground {
   display: flex;
   justify-content: right;
   
}

.Newsbackground img {
    position: absolute;
    top:120px;
    right: 200px
}

.Newsbackground h2{
    position: absolute;
    top: 600px;
    right: 400px;
    color: white;
}

.GameContainer {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    gap: 100px;
    color: white;
    margin-top: 50px;
    padding: 20px 20px;
    margin-bottom: 170px;
    background-color: #fff; 
    max-width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    height: 75%;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;

}

.game img {
    width: 300px;
    height: 300px;
    
    object-fit: cover;
}

.GameDescContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    color: white;
    margin-top: 200px;
    padding: 20px 20px;
    margin-bottom: 170px;
    background-color: #fff; 
    max-width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    height: 75%;
    font-size: 15px;
    
}

.GameDescContainer img{
    width: 500px;
    height: 400px;
}

.HomepageContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    color: white;
    margin-top: 10px;
    padding: 20px 20px;
    margin-bottom: 170px;
    background-color: #fff; 
    max-width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    height: 75%;
    font-size: 30px;
}

.HomepageContain a{
    border: #fff 1px solid;
    padding: 8px 16px;
}

.HomepageContain a:hover{
    color: #747474;
    border: #747474 1px solid;
}