.Topcontainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}   

.Topcontainer left
 {
    display: flex;
    align-items: center;
}


.CorpLogo {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 70px;
}

.logocontainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_text {
    font-size: 30px;
    margin-left: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: inherit;
}

.Topnav {
    display: flex;
    gap: 20px;
}

.Topnav a{
    font-size: 18px;
    margin-left: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
}

.Contactcontainer
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 0px;
    background-color: rgb(0, 0, 0);
 width: 40%;
    color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-top: 5%;
    height: 100%;
}

.contactbackground {
    width: 100%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100%;
}

.ContactInfotop {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 40px;
}

.ContactInfobottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}