.Topcontainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}   

.Topcontainer left
 {
    display: flex;
    align-items: center;
}

.CorpLogo {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 70px;
}