.Topcontainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px;
    
    background-color: rgb(0, 0, 0);
}   

.Topcontainer left
 {
    display: flex;
    align-items: center;
}